{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin Dashboards</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'comptable/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'comptable/css/sb-admin-2.min.css' %}" rel="stylesheet">

</head>

<style>
    table {
  border-collapse: collapse;
  border: 2px solid rgb(0, 0, 0);
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

th,
td {
  border: 1px solid rgb(0, 0, 0);
  padding: 8px 10px;
}

td:last-of-type {
  text-align: center;
}
</style>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'dashboards-comptable' %}">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">COMPTABLE Admin</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'dashboards-comptable' %}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'ajouter_paiement' %}">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Ajouter un Paiement</span>
                </a>
                <a class="nav-link" href="{% url 'liste_paiement' %}">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Liste des Paiements</span>
                </a>
                <a class="nav-link" href="{% url 'comp_liste_etudiant' %}">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Liste des étudiants</span>
                </a>
                <a class="nav-link" href="{% url 'logout' %}">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Deconnexion</span>
                </a>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">


        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">
                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <!-- Topbar Search -->
                    <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                        <div class="topbar-divider d-none d-sm-block"></div>
                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ request.user.username }}</span>
                        </li>
                    </ul>
                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <div class="row">

                        <!-- Area Chart -->
                        <div class="col-xl-8 col-lg-7">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">PAIEMENT</h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    {% if messages %}
                                    <ul class="messages">
                                        {% for message in messages %}
                                        {% if message.tags == 'success'%}
                                        <div class="tm-black-bg">
                                            <h2 class="tm-text-primary" style="color: green; font-size: 20px;">{{ message }}</h2>
                                        </div>
                                        {% else %}
                                        <div class="tm-black-bg">
                                            <h2 class="tm-text-primary" style="color: red; font-size: 20px;">{{ message }}</h2>
                                        </div>
                                        {% endif %}
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                                    <div class="chart-area">
                                        <form class="user" style="padding-top: 13%; width: 90%; padding-left: 10%;" method="POST">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <select class="form-control" name="id" id="etudiant-select">
                                                    <option disabled selected value="">Choisissez un etudiant</option>
                                                    {% for etudiant in etudiants%}
                                                    <option value="{{etudiant.id}}">{{etudiant.nom}} {{etudiant.prenom}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <input type="number" class="form-control "
                                                placeholder="Montant" name="montant" required>
                                            </div>
                                            <center>
                                                <button type="submit" class="btn btn-primary btn-user btn-block" style="width: 30%;">
                                                    Submit
                                                </button>
                                            </center>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Pie Chart -->
                        <div class="col-xl-4 col-lg-5">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Paiements Recents</h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body" style="overflow-y: auto;">
                                    <div class="chart-area">
                                        {% for frais_personnel in frais_personnels%}
                                        <div class="frais-info" data-etudiant-id="{{ frais_personnel.etudiant_id }}">
                                            <div class="col-xl-12 col-md-6 mb-4">
                                                <div class="card border-left-primary shadow h-100 py-2">
                                                    <div class="no-gutters align-items-center" style="padding-left: 5%;">
                                                        <table style="width: 250px;">
                                                            <thead>
                                                                <tr>
                                                                    <th class="h5 mb-0 font-weight-bold text-gray-800" colspan="3">{{frais_personnel.etudiant.nom}} {{frais_personnel.etudiant.prenom}}</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                  <th scope="row">frais restant</th>
                                                                  <td>frais payer</td>
                                                                </tr>
                                                                <tr>
                                                                    <th scope="row">{{ frais_personnel.montant_restant }}</th>
                                                                    <td>{{ frais_personnel.montant_paye }}</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <div style="padding-left: 10px;margin-top: 3px;" class="text-xs ">{{frais_personnel.date_update}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                        {% for paiement in paiements%}
                                        <div class="col-xl-12 col-md-6 mb-4 paiement-info" data-etudiant-id="{{ paiement.etudiant.id }}">
                                            <div class="card border-left-primary shadow h-100 py-2">
                                                <div class="no-gutters align-items-center" style="padding-left: 10%;">
                                                    <div class="col mr-2">
                                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                            Montant: {{paiement.montant}} franc</div>
                                                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{paiement.etudiant.nom}} {{paiement.etudiant.prenom}}</div>
                                                        <div class="text-xs ">{{paiement.date_add}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->


    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'comptable/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'comptable/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'comptable/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'comptable/js/sb-admin-2.min.js' %}"></script>

    <!-- Page level plugins -->
    <script src="{% static 'comptable/vendor/chart.js/Chart.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'comptable/js/demo/chart-area-demo.js' %}"></script>
    <script src="{% static 'comptable/js/demo/chart-pie-demo.js' %}"></script>



<script>
    function getIdEtudiantSelectionne() {
        var select = document.getElementById('etudiant-select');
        var etudiantId = select.value;
        return etudiantId;
    }

    function afficherInfosPourEtudiant(etudiantId) {
        var fraisInfos = document.querySelectorAll('.frais-info');
        var paiementInfos = document.querySelectorAll('.paiement-info');

        fraisInfos.forEach(function(fraisInfo) {
            if (fraisInfo.getAttribute('data-etudiant-id') === etudiantId) {
                fraisInfo.style.display = 'block';
            } else {
                fraisInfo.style.display = 'none';
            }
        });

        paiementInfos.forEach(function(paiementInfo) {
            if (paiementInfo.getAttribute('data-etudiant-id') === etudiantId) {
                paiementInfo.style.display = 'block';
            } else {
                paiementInfo.style.display = 'none';
            }
        });
    }

    document.getElementById('etudiant-select').addEventListener('change', function() {
        var etudiantId = getIdEtudiantSelectionne();
        console.log("ID de l'étudiant sélectionné :", etudiantId);
        afficherInfosPourEtudiant(etudiantId);
    });

    // Initialiser l'affichage au chargement de la page
    window.onload = function() {
        var initialEtudiantId = getIdEtudiantSelectionne();
        afficherInfosPourEtudiant(initialEtudiantId);
    }
</script>



        

</body>

</html>