{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin Dashboards</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'comptable/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'comptable/css/sb-admin-2.min.css' %}" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'dashboards-comptable' %}">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">COMPTABLE Admin</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'dashboards-comptable' %}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link" href="{% url 'ajouter_paiement' %}">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Ajouter un Paiement</span>
                </a>
                <a class="nav-link" href="{% url 'liste_paiement' %}">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Liste des Paiements</span>
                </a>
                <a class="nav-link" href="{% url 'comp_liste_etudiant' %}">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Liste des étudiants</span>
                </a>
                <a class="nav-link" href="{% url 'logout' %}">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Deconnexion</span>
                </a>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">


        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">
                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <!-- Topbar Search -->
                    <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                        <div class="topbar-divider d-none d-sm-block"></div>
                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ request.user.username }}</span>
                        </li>
                    </ul>
                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <div class="row">

                        <!-- Area Chart -->
                        <div class="col-xl-12 col-lg-8">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Liste des Paiements</h6>
                                </div>
                                <center>
                                {% if messages %}
                                    <ul class="messages">
                                        {% for message in messages %}
                                        {% if message.tags == 'success'%}
                                        <div class="tm-black-bg">
                                            <h2 class="tm-text-primary" style="color: green; font-size: 20px;">{{ message }}</h2>
                                        </div>
                                        {% else %}
                                        <div class="tm-black-bg">
                                            <h2 class="tm-text-primary" style="color: red; font-size: 20px;">{{ message }}</h2>
                                        </div>
                                        {% endif %}
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                                </center>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-area">
                                        <table id="apiCallbacks" class="table custom-table">
                                            <thead>
                                                <tr>
                                                    <th>Niveau</th>
                                                    <th>Filiere</th>
                                                    <th>Frais Affecte</th>
                                                    <th>Frais Non Affecte</th>
                                                    <th>Nombre Etudiants</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <!-- début affichage des paiements -->
                                                {% for frais_niveau in frais_niveaus %}
                                                <tr>
                                                    <td>{{frais_niveau.niveau.nom_niveau}}</td>
                                                    <td>{{frais_niveau.niveau.filiere_associée}}</td>
                                                    <td>{{frais_niveau.montant_af}}</td>
                                                    <td>{{frais_niveau.montant_non_af}}</td>
                                                    {% for item in niveaux_etudiants %}
                                                        {% if frais_niveau.niveau == item.niveau %}
                                                        <td>{{ item.nombre_etudiants}}</td>
                                                        {% endif %}
                                                    {% endfor %}
                                                    <td><a href="{% url 'edit_frais_niveau' frais_niveau.id %}" class="btn btn-warning">Modifier</a></td>
                                                </tr>
                                                {% endfor %}
                                                <!-- fin affichage des paiements -->
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->


    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'comptable/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'comptable/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'comptable/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'comptable/js/sb-admin-2.min.js' %}"></script>

    <!-- Page level plugins -->
    <script src="{% static 'comptable/vendor/chart.js/Chart.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'comptable/js/demo/chart-area-demo.js' %}"></script>
    <script src="{% static 'comptable/js/demo/chart-pie-demo.js' %}"></script>

</body>

</html>